div{
    background-color: #1e1f25;
    /* height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */

    margin: 0 auto;
}


input{
    background-color: #1e1f25;
    border: none;
}